{% extends 'base.html.twig' %}

{% block body %}
    <div class="hero-section">
        <div class="hero-section-text">
            <h1>I Love Dogs</h1>
            <h5>Alle informatie en spullen voor jouw hond!</h5>
        </div>
    </div>
{% endblock %}