{% extends 'base.html.twig' %}

{% block body %}

    <div class="row expanded collapse">
        <a href="{{ path('app_blogs') }}" class="back-button"><i class="fa fa-arrow-circle-left fa-3x fa-color-black"></i></a>
        <div class="column">
            <div class="large-article-header" style="background-image: url('{{ asset('uploads/blogImages/' ~ blog.articleImageBig )}}')">
                <div class="large-article-header-content">
                    <div class="center-container">
                        <div class="article-date">
                            <p></p>
                        </div>
                        <div class="article-title">
                            <h1>{{ blog.title }}</h1>
                        </div>
                        <div class="article-details">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="grid-x">
        <p>{{ blog.content }}</p>
    </div>
{% endblock %}