{% extends 'base.html.twig' %}

{% block body %}
    <div class="row expanded collapse">
        <div class="column">
            <div class="large-article-header">
                <div class="large-article-header-content">
                    <div class="center-container">
                        <div class="article-date">
                            <p></p>
                        </div>
                        <div class="article-title">
                            <h1>{{ blog.title }}</h1>
                        </div>
                        <div class="article-details">
                            <div class="article-author">
                                <img src="https://unsplash.it/50/50?image=1005" alt="" />
                                <a href="#">{{ blog.author }}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="grid-x">
        <p>{{ blog.content }}</p>
    </div>
{% endblock %}